[Unit]
Description=Led Cube Engine

[Service]
Type=simple
ExecStart=/home/pi/led-cube-engine render --file /home/pi/animations.json
ExecStopPost=/home/pi/led-cube-engine devop
KillSignal=SIGINT
Restart=on-failure
RestartSec=60
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

